@model IEnumerable<CAPstone.Models.Ratings>

@{
    ViewBag.Title = "Index";
}

<h2>Ratings & Reviews</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sitter.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sitter.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @if (User.IsInRole("Parent"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.RateID })
            }
            @Html.ActionLink("Details", "Details", new { id = item.RateID })
        </td>
    </tr>
}

</table>
